h1 {
  color: rgb(214, 36, 146);
  text-align: center;
}

h3 {
  padding: 10px;
}

p {
  padding-top: 15px;
  text-align: center;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: left;
}