h1 {
  color: rgb(214, 36, 146);
  text-align: center;
  
}
h2 {
  color: rgb(68, 140, 235);
  text-align: center;
  
}

h3 {
  color: rgb(37, 148, 61);
  text-align: center;
}

p {
  padding-top: 5px;
  text-align: center;
  
}

div {
 
  justify-content: left;
}
html,
body {
  background-color: rgb(118, 228, 204);
  height: 90%;
}

body {
  background-color: rgb(240, 196, 229);
  
}

.demo {
  display: none;
}
.demo1 {
  display: none;
}
.demo2 {
  display: none;
}